<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active" href="/dogs">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dogs/new">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://www.vetstreet.com/dogs">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://en.wikipedia.org/wiki/Dog">FAQs</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/dogs/contact">Contact</a>
  </li>
</ul>