<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/dogs">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dogs/new">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://en.wikipedia.org/wiki/Dog">FAQ about Dogs</a>
  </li>
</ul>