<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
</head>
<body>
<h1> Adopt a Dog! </h1>
    <ul class="dog-list">
        <% for(let i = 0; i < dogs.length; i++){ %>         
        <li>
            <a href="/dogs/<%=dogs[i]._id%>"><%=dogs[i].name;%></a>
        </li>

         <form action="/dogs/<%=i%>?_method=DELETE" method="POST" >
                <input type="submit" value="DELETE"/>
        </form>
        <a href="/dogs/<%=dogs[i].id; %>/edit">Edit</a>
   

        <%}%>
    </ul>
    <a href="/dogs/new">Add a dog to the directory</a>
</body>
</html>