h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
    color: white;
    background: rgb(54,177,191);
    background: linear-gradient(180deg, rgba(54,177,191,1) 0%, rgba(34,142,154,1) 100%);
    
}

h2 {
    font-family: 'Raleway', sans-serif; 
    padding: 20px;
}

html {
    background-color: #F2F2F2;
}

.navbar {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

#navbar {
    text-align: center;
    display: inline-block;
    margin: auto;
}

a {
    color: #36B1BF;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;    
}

.container-fluid {
    background-color: #F2F2F2;
}

ul {
    list-style: none;    
}

.link {
    font-size: 15px;
}

.nav-link {
    font-size: 15px;
}

p {
    margin: 20px;
}

form {
    padding: 2px;
}

.btn:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #36B1BF; /*set the color you want here*/
}

